@media screen and (min-width: 1100px) {
    .card-img{
        height: 42rem;
    }
    .carousel-item p{
        margin: auto;
        margin: auto 7rem;
    }
}

@media screen and (max-width: 1099px){
    .card-img{
        height: 60rem;
    }
}

@media screen and (max-width: 500px){
    body{
        width: 50rem;
    }
}

nav{
    float:right;
}
nav .nav-item{
    margin-left: 7rem;
}


h2, h4{
    color: #ffffff;
   
}

.title-text{
    margin-left: 5rem;
}

.carousel-item img{
    width: 12rem;
    height: 15rem;
}

h1, h2, h3, h4{
    font-family: 'Crimson Text', serif;
}

p,em, li{
    font-family: 'Source Sans Pro', sans-serif;
}

.carousel-item p{
    margin-top: 1rem;
    color: #05dfd7;
    font-size: x-large;
}




#testimonials {
    background-image: linear-gradient(to bottom right, #2c7873, #c0ffb3);
    text-align: center;
}

.testimonial-text {
font-size: 3rem;
line-height: 1.5;
}

.testimonial-image {
width: 10%;
border-radius: 100%;
margin: 20px;
}
.colored-section {
color: #fff;
}

#press {
padding-bottom: 3%;
text-align: center;
}

.press-logo {
width: 15%;
margin: 20px 20px 50px;
}

footer {
    background-color: #086972;
    height: 18rem;
}

footer ul, em{
    list-style: none;
    color: #ffffff;
    margin-top: 3rem;
}